* {
  margin: 0px;
  padding: 0px;
}

header {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 60px;
  background-color: black;
  position: sticky;
  top: 0px;
}

.conteudo {
  background-color: rgb(0, 0, 0);
  width: 80%;
  height: 60px;
  margin: 0px 3.1vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

img {
  width: 30px;
  height: 30px;
}

.menu a {
  color: rgb(196, 196, 196);
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  padding: 20px;
}

.inicio h1 {
  font-size: 60px;
  padding-top: 50px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

.inicio p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 32px;
  text-align: center;
}

.links {
  gap: 50px;
  padding-top: 20px;
  display: flex;
  justify-content: center;
}

.links a {
  text-decoration: none;
  color: blue;
  font-size: 20px;
}

.iphone img {
  width: 60%;
  height: 60%;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  padding-left: 240px;
}

.conteudo2 {
  background-color: black;
  width: 100%;
  height: 100%;
}

.texto {
  color: white;
}

.subtitulo {
  color: white;
  font-size: 10px;
}

.iphone2 img {
  width: 60%;
  height: 60%;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  padding-left: 240px;
}

.detalhe {
  background-color: white;
  width: 100%;
  height: 15px;
}

.watch {
  padding: 60px;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 600px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("https://www.apple.com/br/home/heroes/apple-watch-series-8/images/hero_apple_watch_series_8__bjc1ok5mkjua_medium.jpg");
}

.watch img {
  width: 15%;
  height: 15%;
}

.realidade {
  font-size: 10px;
  padding: 20px;
  color: white;
}
